@tailwind base;
@tailwind utilities;
@tailwind components;
@layer utilities{
    .h-100{height: 450px;}
    .leading-12{line-height: 55px;}
    .leading-20{line-height: 80px;}
    .leading-30{line-height: 110px;}
    .w-822{width: 822px;}
    .h-540{height: 540px;}
    .w-550{width: 550px;}
    .ml-400{margin-left: 480px;}
    .mr-400{margin-right: 480px;}
    .ml-600{margin-left: 800px;}
    .mr-600{margin-right: 800px;} 
    .text-border{border-bottom: solid #ef6d58;}
    .text-color-main{color: #ef6d58;}
    .bg-color-main{background-color: #ef6d58;}
    .text-color-main-dark{color: #28293e;}
    .bg-color-dark{background-color: #28293e;}
    .bg-options-color{background-color: rgba(33, 123, 244, .1);}
    .options-box-shadow{box-shadow: 0px 7px 23px -6px rgba(0, 72, 168, 0.34);}
    .profile-card-box-shadow{box-shadow: 0px 34px 68px 0px rgba(116, 116, 128, 0.1);}
    .profile-card-border{border: 2px solid rgba(243, 243, 243, 0.5);}
    .profile-image-radius{border-radius: 100%;}
    .border{border: 1px solid #ef6d58;}
    .rounded-1xl{border-radius: 14px;}
    .box-shadow{box-shadow: 0px 34px 65px 0px rgba(116, 115, 128, 0.15);}
    .text-s{font-size: 8px;}
    
     /* Updated CSS for Dashboard Forms */
    .login-w{width: 692px;}
    .login-h{height: 737px;}
    .signin-h{height: 900px;}
}

/* Updated CSS for Servces Page */
.offering-paragraph-text-color{color: rgba(163, 163, 163, 1);}




    /* CSS for Portfolio Page */
    .evolution-bg{background-color: rgba(255, 255, 255, 0.6);}
    .button-text{color: rgba(255, 118, 31, 1);}
    .cbrex-bg{background-color: rgba(255, 118, 31, 1);}
    .timios-bg{background-color: rgba(128, 83, 181, 1);}
    .timios-button-text{color: rgba(128, 83, 181, 1);}
    .cover-tree-bg{background-color: rgba(177, 246, 186, 1);}
    .cover-tree-text-hd{color: rgba(38, 119, 49, 1);}
    .cover-tree-text-para{color: rgba(27, 27, 27, 1);}
    .cover-tree-para-text{color: rgba(9, 54, 73, 1);}
    .cover-tree-button-bg{background-color: rgba(38, 119, 49, 1);}
    .sepal-bg{background-color: rgba(3, 25, 39, 1);}
    .sepal-button-text{color: rgba(3, 25, 39, 1);}
    .health-uno-bg{background-color: rgba(40, 163, 218, 1);}
    .health-uno-button-text{color: rgba(40, 163, 218, 1);}
    .scarto-bg{background-color: rgba(248, 138, 53, 1);}
}
